body {
    background-image: url("../assets/icons/Goblin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 100vh;
    margin: 0;
    padding: 0;
}

button {
    padding: 10px 15px;
    background-color: #dd8715;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #a3680f;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/icons/TheCellar.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}